<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="dogApp"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Base.Theme.MyApplication">

        <activity android:name="com.equiposeis.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
